.Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItem {
  width: 80vw;
  color: #333333;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Dot {
  font-size: 0.8em;
  width: 10%;
  text-align: left;
}

.PostcodeBox {
  height: 50px;
  width: 80%;
  padding: 0 20px;
  background-color: #eeeeee;
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Delete {
  font-size: 1.3em;
  width: 10%;
  text-align: right;
}

.Input {
  height: 50px;
  width: 80%;
  padding: 0 20px;
  margin-right: 10%;
  border: none;
  background-color: #eeeeee;
  font-size: 1.3em;
  font-weight: 500;
}

.Plus {
  width: 10%;
  text-align: left;
}

.Block {
  display: block;
}